@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.blocks-square(@index, @pos_x, @pos_y, @color) {
	& div {
		position: absolute;
		width: 20px;
		height: 20px;
		.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));

		&:nth-child(@{index}) {
			@{pos_x}: @BACK_BLOCKS_DISTANCE;
			@{pos_y}: @BACK_BLOCKS_DISTANCE;
			background: @color;
		}
	}

	&:hover div:nth-child(@{index}) {
		@{pos_x}: 0;
		@{pos_y}: 0;
	}
}

.back {
	& a {
		position: absolute;
		left: 40px;
		top: 35px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));

		transform: rotateZ(45deg);

		&:hover {
			transform: rotateZ(-45deg) scale(0.8);
		}

		.blocks-square(1, left, top, @background-bloc-0);
		.blocks-square(2, right, top, @background-bloc-1);
		.blocks-square(3, right, bottom, @background-bloc-2);
		.blocks-square(4, left, bottom, @background-bloc-3);
	}

	& span {
		position: absolute;
		left: 76px;
		top: 76px;
		transform: rotateZ(-45deg);
		font-size: 14px;
		color: @background-bloc-2;
	}
}
