@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

#HOME {
	perspective: 100px;
	overflow: hidden;
	opacity: 1;
	background: -webkit-radial-gradient(circle, #1a82f7 10%, #2f2727 100%);
	background-size: 180% 180%;
	.full();

	& .border {
		&::after,
		&::before {
			content: ' ';
			width: 100%;
			position: absolute;
			height: 50%;
			background: @background-shadow;
			.transition(height 1s ease 1.2s);
		}

		&::after {
			bottom: 0;
		}
	}

	& > .panel {
		transition: transform 0.8s cubic-bezier(0.8, 0, 0.25, 1) 0.08s, opacity 0.2s cubic-bezier(0.8, 0, 0.25, 1);
		position: absolute;
		top: 0;
		width: 100%;
		perspective: 1000px;
		height: 100%;

		&.active {
			transform: translateZ(100px);
		}
	}

	&.move_to_three > .panel {
		opacity: 0;
		pointer-events: none;
	}

	& > canvas {
		position: absolute;
		top: 0;
		z-index: -1;
	}

	&::before,
	&::after {
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: @LAYER-ANIMATION;
		height: 100%;
	}

	&::before {
		.transition(all 1s cubic-bezier(0.87, 0.32, 0.81, 0.36));

		opacity: 0.7;
		background: @background-color-transition-d;
	}

	&::after {
		.transition(all 0.6s cubic-bezier(0.87, 0.32, 0.81, 0.36));

		background: @background-color-transition-l;
	}

	&.mounted {
		&::before,
		&::after {
			height: 0;
		}

		& .border {
			&::after,
			&::before {
				height: 8%;
			}
		}
	}
}
