@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

#HOME {
	perspective: 100px;
	overflow: hidden;

	& > div {
		.transition(transform 0.5s cubic-bezier(0.8, 0, 0.25, 1));

		perspective: 1000px;
		height: 100%;

		&.active {
			transform: translateZ(100px);
		}
	}

	&::before,
	&::after {
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: @LAYER-ANIMATION;
		height: 100%;
	}

	&::before {
		.transition(all 1s cubic-bezier(0.87, 0.32, 0.81, 0.36));

		opacity: 0.7;
		background: @background-color-transition-d;
	}

	&::after {
		.transition(all 0.6s cubic-bezier(0.87, 0.32, 0.81, 0.36));

		background: @background-color-transition-l;
	}

	&.mounted {
		&::before,
		&::after {
			height: 0;
		}
	}
}
