@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.informations {
	.transition(all 0.5s ease);

	& > h1 {
		padding-top: 100px;
		margin: 0;
		color: @text-color-white;
		text-transform: uppercase;
		.font-size(5);
	}

	& span:nth-child(2) {
		margin-top: 20px;
		text-align: justify;
		.font-size(2);
	}

	& span:nth-child(4) {
		margin-top: 20px;
		margin-bottom: 25px;
		.font-size(1.4);

		font-style: italic;
	}

	&.is_animated {
		opacity: 0;
		transform: translateY(-100%);
	}
}

@media screen and (max-width: @SCREEN_900) {
	.informations {
		& > h1 {
			padding-top: 142px;
			text-align: center;
			.font-size(5);
		}

		& span:nth-child(2) {
			.font-size(2);
		}

		& span:nth-child(4) {
			.font-size(1.4);
		}
	}
}

@media screen and (max-width: @SCREEN_900) {
	.informations {
		& > h1 {
			.font-size(5);
		}
	}
}
