@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.informations {
	& > h1 {
		padding-top: 50px;
		margin: 0;
		color: @text-color-white;
		text-transform: uppercase;
		.font-size(5);
	}

	& span:nth-child(2) {
		margin-top: 20px;
		text-align: justify;
		.font-size(2);
	}

	& span:nth-child(4) {
		margin-top: 20px;
		margin-bottom: 25px;
		.font-size(1.4);

		font-style: italic;
	}
}

@media screen and (max-width: @PHONE_MQ) {
	.informations {
		& > h1 {
			padding-top: 135px;
			text-align: center;
			.font-size(6);
		}

		& span:nth-child(2) {
			.font-size(2);
		}

		& span:nth-child(4) {
			.font-size(1.4);
		}
	}
}
