@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.intro {
	position: relative;
	display: block;
	line-height: 1.4em;
	width: 100%;
	text-align: center;
	top: 40%;
	user-select: none;
	opacity: 0;
	color: @text-color;
	transform: translateY(-50%);
	font-family: 'Lato-Light', sans-serif;
	.font-size(3);

	& img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 2px solid @background-bloc-0;
		margin-bottom: 30px;
	}

	.transition(all 0.5s cubic-bezier(0.1, 0.59, 0.02, 0.6) 1s);

	& span {
		display: block;
	}

	& em {
		text-shadow: 0 0 6px @background-bloc-0;
		font-style: initial;
		border-right: 0.5rem solid @text-color;
		animation: blink-caret 0.75s step-end infinite;
	}

	& a {
		font-family: 'Lato-Bold', sans-serif;
		color: @text-color-light;
		position: relative;

		&.capitalize {
			text-transform: capitalize;
		}

		&::before,
		&::after {
			content: ' ';
			position: absolute;
			left: 0;
			height: 50%;
			width: 0;
			background: @background-transparent-title;
			transition: all 0.5s cubic-bezier(0.8, 0, 0.25, 1);
		}

		&::before {
			top: 0;
		}

		&::after {
			left: initial;
			right: 0;
			bottom: 0;
		}

		&:hover::before,
		&:hover::after {
			width: 100%;
		}
	}
}

.mounted {
	.intro {
		opacity: 1;
	}
}

@keyframes blink-caret {
	from,
	to { border-color: transparent; }
	50% { border-color: @text-color; }
}

@media screen and (max-width: @PHONE_MQ) {
	.intro {
		.font-size(2.5);
	}
}
