@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.block-sided (@side, @rotate) {
	&.@{side} {
		position: absolute;
		@{side}: 0;
		top: 0;
		transform-origin: @side;

		& .introduction {
			position: absolute;
			@{side}: 0;
			top: 0;
			width: 200%;
			height: 100%;
		}

		&.active {
			transform: rotateY(@rotate);
		}
	}
}

.bloc {
	width: 50%;
	height: 100%;
	overflow: hidden;
	transform-style: flat;
	.transition(transform 0.5s cubic-bezier(0.8, 0, 0.25, 1));

	.block-sided(right, -45deg);
	.block-sided(left, 45deg);
}
