@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

#LOADING {
	position: fixed;
	top: 0;
	left: 0;
	height: 3px;
	background: @text-color;
	z-index: @LAYER-SURANIMATION;

	&.isLoaded {
		opacity: 0;
	}
}
