// MIXINS

.full {
	height: 100%;
	width: 100%;
}

.topleft {
	position: absolute;
    left: 0;
    top: 0;
}

.topright {
	position: absolute;
    right: 0;
    top: 0;	
}

// GLOBAL

html,
body,
#app,
#HOME {
	margin: 0;
	.full();
}

#HOME {
	perspective: 100px;
	overflow: hidden;
	
	&.fade-leave-active {
		display: none;
	}
	
	& .wrap {
		transition: transform .5s cubic-bezier(.8,0,.25,1);
		perspective: 1000px;
		height: 100%;	
		
		&.active {
			transform: translateZ(100px);
		}
	}
}

#TITLE {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.bloc {
	width: 50%;
    height: 100%;
    background: #E5E5E5;
    overflow: hidden;
    transform-style: flat;
    transition: transform .5s cubic-bezier(.8,0,.25,1);
    
    &.left {
    	.topleft();
    	transform-origin: left;
    	
    	& > div {
    		.topleft();
    		width: 200%;
    		height: 100%;
    	}
    	
    	&.active {
	    	transform: rotateY(45deg);
    	}
    }
    
    &.right {
    	.topright();
    	transform-origin: right;
    	
    	& > div {
    		.topright();
    		width: 200%;
    		height: 100%;
    		
    	}
    	
    	&.active {
	    	transform: rotateY(-45deg);
    	}
    }
}

a.links-open-door {
	position: absolute;
    z-index: 10;
    bottom: 100px;
    height: 40px;
    line-height: 40px;
    user-select: none;
    width: 200px;
    text-align: center;
    
    &.portfolio {
    	right: 10%;
    }
    
    &.articles {
    	left: 10%;
    }
}

.links-blocks {
   position: absolute;
   width: 20px;
   height: 20px;
   overflow: hidden;
   background: red;
}

.lb-inside {
	position: absolute;
	width: 1000%;
}


.generate-lb(@n, @i: 0) when (@i =< @n) {
	.lb-@{i} {
		& when (@i < 10) {
	    	top: 0;
		    left: @i*20px;
		    
		    & .lb-inside {
		    	left: -@i*20px;
		    }
		}
		
		& when (@i >= 10) {
			top: 20px;
	    	left: @i*20-200px;
			
		    & .lb-inside {
		    	top: -20px;
	    		left: 200-@i*20px;
		    }
		}
	    
	}
	.generate-lb(@n, (@i + 1));
}

.generate-lb(20);

.links-open-door:hover .lb-0 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(-40px,-40px);
}

.links-open-door:hover .lb-1 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(-30px,-30px);
}

.links-open-door:hover .lb-2 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(-20px,-20px);
}

.links-open-door:hover .lb-3 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(-10px,-10px);
}

.links-open-door:hover .lb-4 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(0px,-10px);
}

.links-open-door:hover .lb-5 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(10px,-10px);
}

.links-open-door:hover .lb-6 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(20px,-10px);
}

.links-open-door:hover .lb-7 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(30px,-10px);
}

.links-open-door:hover .lb-8 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(40px,-10px);
}

.links-open-door:hover .lb-9 {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	transform: translate(-15px,-10px);
}
		
#header {
	position: absolute;
    top: 0;
    right: 0;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}