.content {
	max-width: 1000px;
	margin: auto;
}

@LAYER-ANIMATION: 5;
@LAYER-COUCHE--2: 1;
@LAYER-COUCHE--1: 2;
@LAYER-COUCHE-1: 3;
@LAYER-COUCHE-2: 4;

#PORTFOLIO {
	height: 100%;
}

.line-transition() {
	position: absolute;
    right: 0;
    height: 100%;
    width: 0%;
    background: red;
}

.informations {
	height: 300px;
	
	&-title_size {	
		position: relative;
	    margin-top: 40px;
	    height: 50px;
	}
	
	&-title {
	    margin: 0;
	    line-height: 50px;
	}
	
	&-title_transition {
		transition: all 1s cubic-bezier(.8,0,.25,1);
		.line-transition();
		
		&--init {
			width: 100%;
		}
		
		&--active {
			width: 100%;
			right: inherit;
			left: 0;
		}
	}
	
	
	&-description_size {
		position: relative;
		margin-top: 25px;
		height: 40px;
	}
	
	&-description {
		text-align: justify;
	}	
	
	&-description_transition {
		transition: all 0.5s cubic-bezier(.8,0,.25,1);
		.line-transition();
		
		&--init {
			width: 100%;
		}
		
		&--active {
			right: inherit;
			left: 0;
			width: 100%;
		}
	}
	
	&-tags {
		padding: 20px 0 0 0;
    	overflow: hidden;
	}
	
	&-tag {
		transition: all 0.5s cubic-bezier(.8,0,.25,1);
		display: block !important;
		float: left;
	    padding: 10px;
	    background: red;
	    margin-right: 10px;
	    margin-bottom: 10px;
	    
	    &--inside {
	    	background: blue;
	    }
	    
	    &--not_inside {
	    	background: green;
	    	opacity: 0.5;
	    }
	}
}

.projects {
	transition: all 0.5s cubic-bezier(.8,0,.25,1);
	height: 600px;
	position: relative;
	
	&-list {
		list-style-type: none;
		margin: 0;
	}
	
	&--extend {
		width: 100%;
	}
	
	&--active {
		opacity:0;
	}
	
	&-project {
		transition: all 0.5s cubic-bezier(.8,0,.25,1);
		float: left;
		width: 48%;
    	height: 280px;
    	position: absolute;
    	
		&--remove {
			opacity: 0;
		}
		
		&--selected {
			opacity: 1;
		}
		
		&--destroy {
			display: none;
		}
		
		&--extend {
			z-index:@LAYER-ANIMATION;
			width: 100%;
			height: 100%;
		}
		
		&--active {
			opacity:0;
		}
		
		&--change {
		    transform: scale(1.05);
		    opacity: 0;
		}
	}
	
	&-project:nth-of-type(4n) {
		bottom:0;
		right:0;
	}
	
	&-project:nth-of-type(4n+1) {
		top:0;
		left:0;
	}
	
	&-project:nth-of-type(4n+2) {
		top:0;
		right:0;
	}
	
	&-project:nth-of-type(4n+3) {
		bottom:0;
		left:0;
	}
	
	&-windows {
		display: block;
	    background: blue;
	    width: 100%;
	    height: 100%;
	    text-decoration: none;
	    background-size: cover;
    	background-position: center center;
	}
	
	&-windowsbg {
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-size: cover;
        background-position: center center;
        opacity: 0;
        transition: all 0.5s cubic-bezier(.8,0,.25,1);
        
        &--active {
            opacity: 1;
        }
	}
	
	&-header {
		position: absolute;
		width: 100%;
		top: 0;
	    background: red;
    	height: 30px;
    	pointer-events: none;
		z-index: @LAYER-COUCHE-2;
	}
	
	&-title {
		line-height: 30px;
    	text-align: center;
    	margin: 0;
	}
	
	&-background {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 0px;
	    top: 0px;
	    background-size: cover;
	    background-position: center center;
	    z-index: @LAYER-COUCHE-1;
	    opacity: 0;
	    transition: all 0.5s cubic-bezier(.8,0,.25,1);
	    
	    &--tooup {
	    	background-color: pink;
	    	transform: translate(-10px,-10px) scale(1.1,1.1);
	    	opacity: 0;
	    }
	    
	    &--up {
	    	background-color: pink;
	    	transform: translate(0,0);
	    	opacity: 1;
	    }
	    
	    &--down {
	    	opacity: 1;
	    	transform: translate(10px,10px);
	    	background-color: blue;
	    	z-index: @LAYER-COUCHE--1;
	    }
	    
	    &--downdown {
	    	transition: all 0s;
	    	opacity: 0;
	    	transform: translate(15px,15px);
	    	background-color: orange;
	    	z-index: @LAYER-COUCHE--2;
	    }
	}
	
	&-right {
	    position: absolute;
	    right: -220px;
	    width: 200px;
	    height: 100%;
	    background: #00ff68;
	}
	
	&-left {
	    position: absolute;
	    left: -220px;
	    width: 200px;
	    height: 100%;
	    background: #00ff68;
	}
}

.pubs {
    padding: 40px;
    
    &-contact {
		margin: 0;
	    text-align: center;
    }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s
}

.fade-enter,
.fade-leave-to
{
  opacity: 0
}