@import (reference) "variables.less";

.back {
	position: absolute;
    left: 40px;
    top: 35px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.8,0,.25,1);
    transform: rotateZ(45deg);
    
    &_text {
        position: absolute;
        left: 76px;
        top: 76px;
        transform: rotateZ(-45deg);
        font-size: 14px;
        color: @background-bloc-2;
    }
    
    &:hover {
        transform: rotateZ(-45deg) scale(0.8);
    }
    
    &-blocks {
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    transition: all 0.5s cubic-bezier(.8,0,.25,1);
	    
	    &_0 {
		    left:@BACK_BLOCKS_DISTANCE;
		    top:@BACK_BLOCKS_DISTANCE;
            background: @background-bloc-0;
	    }
	    &_1 {
	    	right:@BACK_BLOCKS_DISTANCE;
	    	top:@BACK_BLOCKS_DISTANCE;
            background: @background-bloc-1;
	    }
	    &_2 {
	    	right:@BACK_BLOCKS_DISTANCE;
	    	bottom:@BACK_BLOCKS_DISTANCE;
	    	background: @background-bloc-2;
	    }
	    &_3 {
	    	left:@BACK_BLOCKS_DISTANCE;
	    	bottom:@BACK_BLOCKS_DISTANCE;
            background: @background-bloc-3;
	    }
	    
    }
    
    &:hover &-blocks_0 {
    	left:0;
    	top:0;
    }
    
    &:hover &-blocks_1 {
    	right:0;
    	top:0;
    }
    
    &:hover &-blocks_2 {
    	right:0;
    	bottom:0;
    }
    
    &:hover &-blocks_3 {
    	left: 0;
    	bottom: 0;
    }
}

.additional {
	margin-bottom: 100px;
	margin-top: 70px;
	
	&-section {
	    margin-bottom: 60px;
	}
	
	& h2 {
    	color: #FFF;
        text-transform: capitalize;
        font-family: 'Lato-Bold', sans-serif;
        font-size: 2.2em;
        margin: 0 0 20px;
	}
	
	& hr {
    	display: block;
        height: 1px;
        width: 50%;
        background-color: #484848;
        position: relative;
        border: 0;
        margin: 0;
	}
	
	&-wrap {
	     padding: 0 15px;
         font-size: 1.2em;
	     
         &_paragraph {
           line-height: 25px;
           text-align: justify;
         }
	}
	
	& ul {
        padding: 0 20px;
	       
	   & li {
            list-style: circle;
            margin-bottom: .6em;
            padding: 0 5px;
            text-transform: capitalize;
	   }
	}
}