@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.additional {
	margin-bottom: 100px;
	margin-top: 70px;

	&-section {
		margin-bottom: 60px;
	}

	& h2 {
		color: #fff;
		text-transform: capitalize;
		font-family: 'Lato-Bold', sans-serif;
		font-size: 2.2em;
		margin: 0 0 20px;
	}

	& hr {
		display: block;
		height: 1px;
		width: 50%;
		background-color: #484848;
		position: relative;
		border: 0;
		margin: 0;
	}

	&-wrap {
		padding: 0 15px;
		font-size: 1.2em;

		&_paragraph {
			line-height: 25px;
			text-align: justify;
		}
	}

	& ul {
		padding: 0 20px;

		& li {
			list-style: circle;
			margin-bottom: 0.6em;
			padding: 0 5px;
			text-transform: capitalize;
		}
	}
}
