@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

#PUBS {
	padding: 40px;
	.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));

	& span {
		display: block;
		margin: 0;
		text-align: center;
		line-height: 25px;

		&:nth-child(1) {
			font-weight: bold;
		}
	}

	&.invisible {
		opacity: 0;
	}
}
