@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

#PUBS {
	padding: 40px;
	.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));

	& a,
	& span {
		display: block;
		margin: 0;
		text-align: center;
		line-height: 25px;
		.font-size(1.6);

		font-weight: bold;

		&:nth-child(1) {
			font-style: normal;
		}
	}

	&.invisible {
		opacity: 0;
	}
}

@media screen and (max-width: @PHONE_MQ) {
	#PUBS {
		padding: 25px 0 40px;

		& span {
			font-size: 1.5rem;
		}
	}
}
