@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.slide {
	height: 100%;

	& p::before,
	& span::before {
		content: ' ';
		position: absolute;
		top: -20px;
		width: 100%;
		height: 20px;
		left: -1px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		background: #1d1d23;
		border: 1px solid black;
	}

	& p::after,
	& span::after {
		content: ' ';
		position: absolute;
		bottom: -20px;
		width: 100%;
		height: 20px;
		left: -1px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		background: #1d1d23;
		border: 1px solid black;
	}

	& span {
		position: absolute;
		left: 15%;
		top: 20%;
		width: 20%;
		background: @text-color-h2-lighter;
		min-height: 50px;
		line-height: 50px;
		border: 1px solid black;
		padding: 10px 30px;
		text-align: center;
		color: @text-color-white;
		text-transform: uppercase;
		.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));
		.font-size(1.2);
	}

	& p:nth-child(2) {
		position: absolute;
		left: 15%;
		top: 40%;
		width: 20%;
		line-height: 18px;
		word-spacing: 2px;
		background: @text-color-h2-lighter;
		padding: 10px 30px;
		border: 1px solid black;
		color: @text-color-white;
		.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));
		.font-size(1.2);
	}

	& p:nth-child(3) {
		position: absolute;
		right: 15%;
		bottom: 10%;
		width: 420px;
		line-height: 18px;
		word-spacing: 2px;
		background: @text-color-h2-lighter;
		color: @text-color-white;
		padding: 10px 30px;
		border: 1px solid black;
		.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));
		.font-size(1.2);
	}

	& img {
		position: absolute;
		right: 15%;
		width: 480px;
		height: 280px;
		top: calc(20% - 20px);
		border: 1px solid black;
		.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));
	}

	&.invisible {
		& span {
			transform: translateY(-300%);
		}

		& p:nth-child(2) {
			transform: translateX(-200%);
		}

		& img {
			transform: translateX(200%);
		}

		& p:nth-child(3) {
			transform: translateY(400%);
		}
	}
}

@media screen and (max-width: @SCREEN_1800) {
	.slide {
		& span,
		& p:nth-child(2) {
			left: 12%;
		}

		& img,
		& p:nth-child(3) {
			right: 12%;
		}
	}
}

@media screen and (max-width: @SCREEN_1500) {
	.slide {
		& span,
		& p:nth-child(2) {
			left: 8%;
		}

		& img,
		& p:nth-child(3) {
			right: 8%;
		}
	}
}

@media screen and (max-width: @SCREEN_1200) {
	.slide {
		& span,
		& p:nth-child(2) {
			left: 5%;
		}

		& img,
		& p:nth-child(3) {
			right: 5%;
		}
	}
}

@media screen and (max-width: @SCREEN_1100) {
	.slide {
		& p:nth-child(2) {
			width: 30%;
		}

		& img {
			width: 240px;
			height: 140px;
		}

		& p:nth-child(3) {
			width: 180px;
		}
	}
}

@media screen and (max-width: @PHONE_MQ) {
	.slide {
		& img {
			right: calc(50% - 150px);
			width: 300px;
			top: 23%;
			height: 170px;
			object-fit: cover;
		}

		& span {
			left: 5%;
			top: 10%;
			width: calc(90% - 60px);
			.font-size(1.4);
		}

		& p:nth-child(2) {
			left: 5%;
			top: 46%;
			width: calc(90% - 30px);
			padding: 15px;
			.font-size(1.4);
		}

		& p:nth-child(3) {
			right: 5%;
			top: 75%;
			bottom: initial;
			padding: 15px;
			width: calc(90% - 30px);
			.font-size(1.4);
		}
	}
}
