@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.slide {
	height: 100%;

	& .slider_images {
		position: absolute;
		right: 0;
		width: 70%;
		height: calc(100% - 200px - 43px);
		top: 0;
		padding-top: 42px;
		border-bottom: 1px solid black;
		background: #1d1d23e8;

		& img {
			position: absolute;
			right: 50%;
			top: 50%;
			width: 480px;
			height: 280px;
			border: 1px solid black;
			transform: translateX(200%);
			.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));

			&.loaded {
				transform: translateX(50%) translateY(-50%);
			}
		}

		& .legend {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			background: #1d1d23;
			height: 42px;
			display: block;
			line-height: 42px;
			color: white;
			border-top: 1px solid black;
			font-size: 1.2rem;
			font-family: 'Lato-Bold', sans-serif;
			text-transform: uppercase;
			box-shadow: 0 0 5px rgb(0 0 0 / 75%);
		}
	}

	.informations {
		position: absolute;
		left: 0;
		top: 0;
		padding-top: 42px;
		height: calc(100% - 42px);
		width: 30%;
		background: #1d1d23ab;
		min-width: 250px;
		border-right: 1px solid black;

		& .slider_index {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style-type: none;

			& li {
				height: 42px;
				list-style-type: none;
				background: #302c30;
				width: 100%;
				border-top: 1px solid black;
			}
		}

		& .field {
			margin: 20px;

			& span:nth-child(1) {
				display: block;
				padding-bottom: 10px;
				.font-size(1.5);
			}

			& span:nth-child(2) {
				font-family: 'Lato-Bold', sans-serif;
				color: @text-color-white;
				.font-size(1.2);
			}
		}
	}

	.description {
		position: absolute;
		right: 0;
		bottom: 0;
		background: rgba(29, 29, 35, 0.8);
		width: calc(70% - 1px);
		height: 200px;
		overflow: hidden;

		& .block {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;

			& .block_information {
				position: absolute;
				left: 44px;
				height: 100%;
				background: rgb(17 17 22);
				transform: skewX(-20deg);
				display: flex;
				justify-content: center;
				align-items: center;

				& span {
					transform: skewX(20deg);
					font-size: 1.8rem;
					width: 330px;
				}
			}

			& .block_title {
				position: absolute;
				width: 42px;
				height: 200%;
				bottom: 0;
				transform: translateY(25%) rotateZ(20deg);
				background: #302c30;
				text-align: center;
				border: 1px solid black;
				display: flex;
				align-items: center;
				justify-content: center;

				& span {
					font-family: 'Lato-Bold', sans-serif;
					transform: rotateZ(-90deg);
					font-size: 1.2rem;
					color: white;
					text-transform: uppercase;
				}
			}

			&.block_1 {
				left: 111px;
				width: calc(100% - 111px);
				z-index: 2;
				.transition(all 0.25s cubic-bezier(0.8, 0, 0.25, 1));

				& .block_information {
					width: calc(100% - 109px);
				}
			}

			&.block_2 {
				left: 66px;
				width: calc(100% - 66px);
				z-index: 1;

				& .block_information {
					width: calc(100% - 109px);
				}
			}
		}

		&::before {
			content: ' ';
			position: absolute;
			left: 0;
			top: 0;
			width: 130px;
			height: 100%;
			background: @text-color-h2;
			border-right: 1px solid @background-shadow;
			transform: skewX(-20deg) translateX(-50%);
			z-index: 5;
		}

		&::after {
			content: ' ';
			position: absolute;
			right: 0;
			top: 0;
			width: 130px;
			height: 100%;
			background: @text-color-h2;
			border-left: 1px solid @background-shadow;
			transform: skewX(-20deg) translateX(50%);
			z-index: 5;
		}
	}

	&.invisible {
		& img {
			transform: translateX(200%);
		}
	}

	&:hover {
		& .block_1 {
			transform: translate3d(calc(100% - 109px), 0, 0);
		}
	}
}
