@import (reference) "libs/constants.less";
@import (reference) "libs/mixins.less";

.tags {
	padding: 10px 0 0 0;
	display: flex;
	align-items: normal;
	flex-wrap: wrap;
	min-height: 90px;

	&-tag {
		font-family: 'Lato-Bold', sans-serif;
		.font-size(1.2);
		.transition(all 0.5s cubic-bezier(0.8, 0, 0.25, 1));

		display: block !important;
		padding: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		user-select: none;
		cursor: pointer;
		color: @background-bloc-2;
		background: @text-color-dark;
		box-shadow: 10px 10px @background-shadow;
		position: relative;
		overflow: hidden;

		& span {
			position: relative;
			pointer-events: none;
			z-index: @LAYER-COUCHE-1;
		}

		&.invisible {
			opacity: 0;
		}

		&.desactivate {
			pointer-events: none;
			opacity: 0.2;
		}

		&::before {
			content: ' ';
			position: absolute;
			background: #61c3ff;
			border: 1px solid #61c3ff;
			top: 0;
			left: -160%;
			width: 100%;
			height: 100%;
			transform: skewX(50deg);
			.transition(all 0.35s cubic-bezier(0.8, 0, 0.25, 1));
		}

		&::after {
			content: ' ';
			position: absolute;
			background: #61c3ff;
			border: 1px solid #61c3ff;
			top: 0;
			left: 160%;
			width: 100%;
			height: 100%;
			transform: skewX(50deg);
			.transition(all 0.35s cubic-bezier(0.8, 0, 0.25, 1));
		}

		&--active {
			background: @text-color;
			color: @text-color-white;
			box-shadow: none;
			opacity: 1 !important;
		}
	}

	&.mounted {
		& .tags-tag {
			opacity: 1;
		}
	}
}

@media screen and (min-width: @SCREEN_900) {
	.tags {
		&-tag {
			&:hover {
				color: @text-color-white;
				box-shadow: none;

				&::after {
					left: 50%;
				}

				&::before {
					left: -50%;
				}
			}
		}
	}
}

@media screen and (max-width: @SCREEN_900) {
	.tags {
		&-tag {
			.font-size(1.2);
		}
	}
}
